<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Guy Episodes</title>
</head>
<body>
    <h1>Family Guy Episodes</h1>
    <button id="show-all">Show All Episodes</button>
    <button id="random-episode">Suggest Random Episode</button>
    
    <div id="episode-list"></div>

    <h2>Add New Episode</h2>
    <form id="add-episode-form">
        <input type="text" id="season" placeholder="Season" required>
        <input type="text" id="episode" placeholder="Episode" required>
        <input type="text" id="name" placeholder="Name" required>
        <textarea id="description" placeholder="Description" required></textarea>
        <button type="submit">Add Episode</button>
    </form>
    <script src="static/js/script.js"></script>
</body>
</html>
